<h2><%= @shelter_name %></h2>
<p><%= @shelter_city %></p>

<section id='statistics'>
  <h3>Statistics</h3>
  <p>
    Average Age of Adoptable Pets: <%= @shelter.average_age_of_adoptable_pets %>
  </p>
</section>
